{% extends "base.html" %} {% block page_content %}

<div class="container">
  <div class="card mb-4">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Learn Git with The Office</h4>
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="video-background.html">
        <img src="https://media.giphy.com/media/cSm6XIFFNfOKmeZ7K4/giphy.gif" />
        I did something terribly wrong
      </a>
      <p>Page with video background.</p>

      <a class="btn btn-primary" href="cloud.html">
        <img
          src="assets/icons/world_network_directories-1.png"
          class="icon-16"
        />
        Cloud
      </a>
      <p>Cloud hosting landing page template.</p>

      <a class="btn btn-primary" href="mobile.html">
        <img src="assets/icons/laptop_infrared-2.png" class="icon-16" /> Mobile
      </a>
      <p>Mobile app landing page template.</p>
    </div>
  </div>
</div>

<div class="mx-auto p-5">
  <div class="card mb-4">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Stack</h4>
    </div>
    <div class="card-body">
      <p>Stack and Tools<br /></p>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytest/pytest-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/anaconda/anaconda-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/circleci/circleci-plain-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/graphql/graphql-plain-wordmark.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
        class="icon-dev"
      />

      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain-wordmark.svg"
        class="icon-dev"
      />
    </div>
  </div>
</div>
{% endblock page_content %}
